<h1>Welcome to Word Counter!</h1>
<form action="/word_count">
  <div class="form-group">
    <label for="my_word">Please enter a sentence or phrase that contains the same word twice!</label>
    <input id="my_word" name="my_word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-success">Count!</button>
</form>
